{% extends 'base_admin.html' %}
{% block content %}
 <h2>Department<small>Detail</small></h2>

<div class="clearfix"></div>

 <div class="x_content">
     <br>
           <form class="form-horizontal form-label-left" method="post" action="/addpatient/" >
                        {% csrf_token %}

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >P id <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="pid" name="pid"  class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" placeholder="Enter Department Name" required="required" >
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Date adm <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="date" id="padm" name="padm" required="required" placeholder="Enter Department short Name" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>


                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <button type="submit" class="btn btn-primary">Cancel</button>
                          <button id="send" type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>

{% endblock %}