{% extends 'base_admin.html' %}
{% block content %}
 <h2>Change Password</h2>

<div class="clearfix"></div>
 <div class="x_content">
<br>
                    <form class="form-horizontal form-label-left" method="post" action="/changepwd/" >
                        {% csrf_token %}


                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Current Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="currname" name="currname"  class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" placeholder="Current Password" required="required" type="password">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >New Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="password" id="new_pwd" name="new_pwd" required="required" placeholder="New Password" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Confirm Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="password" id="confirm_pwd" name="confirm_pwd" data-validate-linked="email" required="required" placeholder="Confirm Password" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <button type="submit" class="btn btn-primary">Cancel</button>
                          <button id="send" type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>

{% endblock %}